<h1>Hi Friends</h1>

<% friends.forEach(function(friends){%>
    <li><%= friends %></li>
    <%})%>

<form action="/addFriend" method="POST">
    <input type="text" name="newFriend" placeholder="name">
    <button>I made a new friend</button>
</form>
